#banner{
    background-image: linear-gradient(rgba(240, 167, 121, 0.2), rgba(240, 167, 121, 0.4)), url("../images/banner-main.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 75% ;
    width: 100%;
    height: 52vh;
}

#banner-container{
    display: flex;
    align-items: end;
    height: inherit;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 90vw;
    margin: auto;
}

.titre{
    font-size: 39px;
    margin: 20px 0px;
}

#quote{
    margin: 0px;
    height: 21vh;
    max-width: 44vw;
    text-align: end;
    font-size: 18px;
    font-weight: 600;
    height: fit-content;
    white-space: pre-line;
}


@media(max-width: 1000px){
    #banner{
        background-image: url("../images/banner-main-phone.jpg");
        height: 100vh;
        color: rgb(238, 204, 183);
        text-shadow: 10px 5px 12px rgb(30, 30, 30);
        
    }
    #banner-container{
        align-items: center;
    }

    .titre{
        font-size: 4.3em;
        margin-bottom: 1em;
    }
    #quote{
        font-size: 3em;
        max-width: 80vw;
        text-align: center;
    }
}

 @media (max-width: 700px){
    .titre{
        font-size: 3em;
        margin-bottom: 1em;
    } 
    #quote{
        font-size: 1.5em;
    }
} 


