/* General css */

body{
    background: rgb(252, 233, 239);
    margin: 0px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

a{
    text-decoration: none;
    color: black;

}

p{
    font-size: 20px;
    line-height: 1.5;
}


h2{
    text-align: center;
    font-size: 30px;
}

h3{
    font-size: 27px;
    font-weight: 600;
}

h4{
    font-size: 22px;
    text-align: center;
}

.container{
    width: 70vw;
    margin: auto;
}

.p-rel{
    position: relative;
}