.informations{
    display: flex;
    justify-content: center;
}
.informations p {
    text-align: center;
}

.tarifs{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0px 10px;
    min-width: 210px;
}

.tarifs div{
    min-width: 200px;
    margin: 0px 7px;
}

.tarifs div h4{
    padding: 5px;
}

@media(max-width:1000px) {
    .tarifs{
        flex-direction: column;
    }

    .tarifs div h4{
        padding: 0px;
        margin-bottom: 0px;
    }
}