/* Navbar */

.navbar{
    background-color:#eeccb7;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    margin-left: 37vw;
}
 

.nav-link{
    padding: 0px 5px;
    font-size: 22px;
    font-weight: 500;

}

.nav-link:hover{
    color: #d55977;
}
