.soins-titre{
    margin-top: 200px;
}

.soins p {
    margin-top: 0px;
}

.soins img{
    height: 300px;
    display: inline;
    opacity: 0.8;

}

.img-right{
    margin-left: 20px;
    float: right;
}

.harmonie img{
    margin-right: 20px;
    margin-bottom: 5px;
    float: left;
}
