.soins-titre{
    margin-top: 200px;
}

.soins p {
    margin-top: 0px;
}

.soins img{
    height: 300px;
    display: inline;
    opacity: 0.8;

}

.img-right{
    margin-left: 20px;
    float: right;
}

.harmonie img{
    margin-right: 20px;
    margin-bottom: 5px;
    float: left;
}

.soleil{
    background-image:linear-gradient(rgba(244, 223, 208, 0.4), rgba(244, 223, 208, 0.4)), url('../images/levé-de-soleil.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 52vh;
    margin: 50px 0px;
    background-position: 75% ;

}
